<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./todo.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="container text-center" ng-app="ToDoApp" ng-controller="ToDoCtrl as TDC">
        <h1>To-Do App</h1>
        <p>
            <input type="text" class="form-control" ng-model="TDC.new_task"><br>
            <button class="btn btn-primary" ng-click="TDC.AddNewTaskFunc()">Add New Task</button>
        </p>
        <table class="table">
            <thead>
                <th scope="col">Task</th>
                <th scope="col">Actions</th>
            </thead>
            <tbody>
                <tr ng-repeat="task in TDC.tasks">
                    <td>{{task}}</td>
                    <td>
                        <button class="btn btn-warning btn-sm">Edit</button>
                        <button class="btn btn-danger btn-sm" ng-click="TDC.DeleteTaskFunc($index)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>