<div class="centerd-content">
    <div class="form">
        <p class="h1 text-center">Edit Book Info</p>
        <hr>
        <form #bookInfo="ngForm" (ngSubmit)="onSubmit(bookInfo.value)" novalidate>
            <div class="m-3">
                <label for="title" class="form-label">Book Title</label>
                <input type="text" class="form-control" id="title" name="title" ngModel>
            </div>
            <div class="m-3">
                <label for="author" class="form-label">Author</label>
                <select class="form-select" name="author" id="author" ngModel>
                    <option *ngFor="let author of authors" value="{{author.id}}">{{author.name}}</option>
                </select>
            </div>
            <div class="m-3">
                <label for="published" class="form-label">Published</label>
                <input type="date" class="form-control" id="published" name="published" ngModel>
            </div>
            <div class="m-3">
                <button type="submit" class="btn btn-sm btn-success">Save Book</button>
            </div>
        </form>
    </div>
</div>
<button (click)="goBack()" class="btn btn-primary">Back</button>
