<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./clock.js"></script>
    <title>Document</title>
</head>

<body>
    <div ng-app="clockApp" ng-controller="clockTimeCtrl">
        <h1>Clock App</h1>
        <p>The current time is: {{time}}</p>
        <button ng-click="UpdateTimeFunc()">Update time</button>

        <p>
            <input type="text" ng-model="user_name" ng-change="PrintTextOnConsole()">
            {{user_name}}
        </p>
        <p>
            <input type="checkbox" ng-model="checkbox">
            {{checkbox}}
        </p>
        <p>
            <input type="date" ng-model="date">
            {{date}}
        </p>
        <p>
            <input type="file" ng-model="file">
            {{file}}
        </p>
        <p>
            <input type="radio" ng-model="radio" value="Male">
            <input type="radio" ng-model="radio" value="Female">
            {{radio}}
        </p>
    </div>
</body>

</html>